# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
!bin/local.conf
/src/certrequest
/src/clientmanager

# Logs
log/

# Storage
stor/

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# IDE-specific files
.idea/
.vscode/
.claude/settings.json
.worktrees/
